.title{
    font-size: 18px; 
    border-top: solid #0b582c 3px;
}

.title-1{
    font-size: 18px; 
    border-top:solid #1fbf76 3px;
}

.title-2{
    font-size: 18px; 
    border-top:solid #92f075 3px;
 }
 
 .title-3{
    font-size: 18px; 
    border-top:solid #180f55 3px;
 }
 
